.wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.header {
    width: 100%;
    position: fixed;
    top: 0px;
}

.main-content {
    width: 100%;
    min-height: 1000px;
    margin: 72px 0;
}

.footer {
    width: 100%;
    text-align: center;
    // position: fixed;
    // bottom: 0px;
}
