.wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.header {
    width: 100%;
    position: fixed;
    top: 0px;
    z-index: 100;
}

.main-content {
    width: 100%;
}

.footer {
    width: 100%;
    text-align: center;
    // position: fixed;
    // bottom: 0px;
}
