.wrapper {
    border: 1px solid rgba(255, 255, 255, 0.25);

    &::before {
        display: block;
        box-sizing: border-box;
        content: '';
        z-index: -1;
        height: 12px;
        width: 12px;
        position: absolute;
        top: -2px;
        right: 5%;
        transform: translate(10%, -20%) rotate(45deg);
        background-color: rgb(26, 28, 34);
        border-left: 1px solid rgba(255, 255, 255, 0.25);
        border-top: 1px solid rgba(255, 255, 255, 0.25);
        border-radius: 4px 0px 0px;
    }
}

.user-popper-user {
    user-select: none;
    display: flex;
    align-items: center;
    padding: 16px 0px 16px 16px;
    background-size: 100%;
    background-image: url(http://www.iqiyipic.com/lequ/20220210/cab31a17fdc5406c9d3f9e49ccedc8cb.jpg);
    color: rgb(255, 255, 255);
    opacity: 0.7;
    &:hover {
        opacity: 1;
    }
}

.user-avartar {
    margin-left: 24px;
    padding: 0;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    display: block;
    border: none;
}

.user-name {
    margin-left: 24px;
    flex: 1;
}

// .user-popper-actions {
//     padding: 0 12px;
// }

.user-popper-btn {
    padding: 0 24px;
    text-align: justify;
    font-weight: 400;
    width: 100%;
    display: flex;
    color: rgba(255, 255, 255, 0.6);
    &:hover {
        background-color: rgba(255, 255, 255, 0.25);
        span {
            color: var(--main-color);
        }
    }
}
