.wrapper {
    width: 100%;
    height: var(--header-height);
    vertical-align: middle;
    transition: background-color 0.5s linear 0s;
    z-index: 100;
    background-color: #0a0c0f;
}

.inner {
    height: 100%;
    margin: 0px auto;
    position: relative;
    vertical-align: top;
    padding: 0px 56px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-btn {
    display: flex;
    padding: 0;
}

.actions {
    color: #fff;
}

.actions-content {
    display: flex;
}

.signup-btn,
.login-btn,
.app-box {
    display: flex;
    text-transform: uppercase;
    padding: 0 18px;
    font-family: 'SFPro-Bold, SF Pro';
    font-size: 1.6rem;
}

.app-box {
    padding: 12px;
    margin-right: 12px;
    border: 2px solid #fff;
    * span {
        margin-left: 0;
    }
    &:hover {
        border: 2px solid var(--main-color);
        color: var(--main-color);
    }
}

.vip-box {
    margin-right: 24px;
    padding: 0;
    border-radius: 6px;
    &:hover {
        rect {
            fill: #f4cb9b;
        }
    }
}
.log {
    position: relative;
    display: flex;
    &::before {
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(255, 255, 255, 0.6);

        content: '';
        width: 1px;
        height: var(--header-acction-height);
    }
    .no-user {
        display: flex;
    }
}

.login-btn {
    background-color: var(--main-color);
    &:hover {
        background-color: #f4cb9b;
    }
}

.signup-btn {
    color: #fff;
    &:hover {
        text-decoration: underline;
        color: var(--main-color);
    }
}
.login {
    margin-left: 24px;
    padding: 0;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    display: block;
    border: none;
    background-color: #000;
    // border: 1px solid rgba(255, 255, 255, 0.25);
    .user-avartar {
        font-size: 3.6rem;
        color: #fff;
        font-weight: 450;
        &:hover {
            color: var(--main-color);
        }
    }
}
